.product-card {
  width: 300px;
  /*height: 400px;*/
  margin-bottom: 15px;
  overflow: hidden;
}

.product-card .characteristics {
  font-style: italic;
  font-weight: bold;
}

.product-card md-card-actions { text-align: right; }

.product-image {
  width: 100%;
  margin-bottom: 10px;
}
