<h2 class="text-center">Filters</h2>
<hr>
<ul class="filter-list">
  <li>
    <md-input-container>
      <input
        mdInput
        placeholder="Search..."
        #searchBox
        (keyup)="search(searchBox.value)">
    </md-input-container>
  </li>
  <li>
    <section class="example-section">
      <md-checkbox #checkbox class="example-margin" (change)="getFireresistance(checkbox.checked)">Fireresistance</md-checkbox>
    </section>
  </li>
  <li>
    <md-slider min="35" max="70" step="5"></md-slider>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Soundproof">
    </md-input-container>
  </li>
  <li>
    <md-slider min="1" max="500" step="5"></md-slider>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Wallthickness">
    </md-input-container>
  </li>
  <li></li>
  <li>
    <section class="example-section">
      <label class="example-margin">DocTyp:</label>
      <md-radio-group>
        <md-radio-button class="example-margin" value="datasheets" (change)="handleRadio($event.value)">Datasheets</md-radio-button>
        <md-radio-button class="example-margin" value="pricelists" (change)="handleRadio($event.value)">Pricelists</md-radio-button>
      </md-radio-group>
    </section>
  </li>
</ul>
